  <div class="innercontainer metad">
    <div class="dialog">
      <h1>Metadatos modelo <em>Aburria aburri</em></h1>

      <p><b>ID del Modelo:</b> xxxxxxx</p>
      <p><b>Número de registros:</b> 87</p>
      <p><b>Fecha desarrollo:</b> 2014-08-06</p>

      <h2>Info</h2>
      <div class="infocontent">
      <h3>Método <b>Maxent</b></h3>
      <h3>Continuo <b>Si</b></h3>
      <h3>Tipo validación <b>ufoldor whatever</b></h3>
      <h3>Perf Stac Type <b>AUC</b></h3>
      <h3>Nivel <b>Climático · Coberturas</b></h3>
      <h3>Documentación <a href="http://biomodelos.humboldt.org.co/" class="overf">+ enlace a PDF</a></h3>
      </div>

      <h2>Cita</h2>
      <blockquote>
      <p>Velásquez, Jorge - Gutiérrez, César. 2014. Modelo de distribución de <em>Aburria aburri</em> ID xxxxxx. Laboratorio de Biogeografía Aplicada y Bioacústica. Instituto Alexander von Humboldt.</p><div class="overf"><a href="http://biomodelos.humboldt.org.co/">http://biomodelos.humboldt.org.co/dirmodelo</a>.</div>
      </blockquote>
      


      <h2>Contacto</h2>

      <p>Maria C. Londoño
      <a href="mailto:mlondono@humboldt.org.co" class="overf">mlondono@humboldt.org.co</a></p>
    </div>
  </div>