# Environment variables for the Rails application
RAILS_MASTER_KEY= # Master key for the credentials corresponding to the environment
# Configuration for Docker container
# This configuration is needed in order to be able to run the container. 
# All values are linked the host machine
# You must add here the host volumes according to the methods, models, thumbs, zip, uploads and credentials folders.
HOST_PORT= # Port on host machine to map to container's port 
METHODS_FOLDER= # Path to host folder for methods
MODELS_FOLDER= # Path to host folder for models
THUMBS_FOLDER= # Path to host folder for thumbnails
ZIPS_FOLDER= # Path to host folder for zip files
UPLOADS_FOLDER= # Path to host folder for uploads
CREDENTIALS_FILE= # Path to Rails credentials file