# Environment variables for the Rails application
RAILS_MASTER_KEY=production_master_key # Your Rails master key
# Configuration for Docker container
HOST_PORT=3000 # Port on host machine to map to container's port 3000
METHODS_FOLDER=/path/to/host/methods # Path to host folder for methods
MODELS_FOLDER=/path/to/host/models # Path to host folder for models
THUMBS_FOLDER=/path/to/host/thumbs # Path to host folder for thumbnails
ZIPS_FOLDER=/path/to/host/zip # Path to host folder for zip files
UPLOADS_FOLDER=/path/to/host/uploads # Path to host folder for uploads
CREDENTIALS_FILE=/path/to/host/file/production.yml.enc # Path to Rails credentials file