<% if !@covers.blank? %>
	<div class="resdata">
		<% @covers.each do |c| %>
			<% if c[1] %>
				<div class="cobert"><p><%= get_cover_name(c[0]) %></p><div class="percent"><%= '%.2f%' % c[1] %></div></div>
			<% end %>
		<% end %>
	</div>
<% end %>