<div class="steptitle" title="<%= t('biomodelos.visor.records.add_tt') %>" rel="tooltip"><%= t('biomodelos.visor.records.add') %></div>
<button class="btngen marbtnreg" id="btnAddSingleRecord">1</button>
<!-- <button class="btngen marbtnreg">conjunto</button>
<div class="infotitle steptitle lh25" title="Esta información corresponde al modelo validado BioModelos, el cual tiene la mayor calificación entre las hipótesis de distribución disponibles para este especie. Las estadísticas que se presentan a continuación corresponden únicamente a este modelo." rel="tooltip">Actualizar taxonomía</div>
<button class="taxbtn"></button> -->
