		<div id="regMenu_slider">
			<div class="steptitle">Seleccionar Umbral</div>
			<rzslider rz-slider-model="corteSlider.value" rz-slider-options="corteSlider.options" class="rzslider"></rzslider>
			<div class="littleline"></div>
		</div>
		<div class="steptitle">Herramienta de polígono</div>
		<div class="polibotons">
			<button class="poliboton polig" title="Dibujar polígono" rel="tooltip"></button>
			<button class="poliboton edipoli" title="Editar polígono" rel="tooltip"></button>
			<button class="poliboton delpoli" title="Borrar polígono" rel="tooltip"></button>
		</div>
		<div class="littleline"></div>
		<div class="editbotones">
			<button class="saveedit actionbtn">confirmar</button>
			<button class="canceledit actionbtn">deshacer</button>
		</div>
		<div class="delbotones">
			<button class="savedel actionbtn">confirmar</button>
			<button class="canceldel actionbtn">deshacer</button>
		</div>
		<div class="steptitle veicon2" title="IDEAM 2010. Leyenda Nacional de Coberturas de la Tierra. Metodología CORINE Land Cover adaptada para Colombia Escala 1:100.000. Instituto de Hidrología, Meteorología y Estudios Ambientales. Bogotá, D. C., 72p." rel="tooltip">Variables Ecológicas</div>
        <%= render 'species/species_eco_variables' %>
		<button class="btngen" id="btnPauseEdition">pausar</button>
		<button class="btngen" id="btnEnvEdition">enviar</button>
		<%= hidden_field_tag "user_id_field", current_user.id %>
		<%= hidden_field_tag "newModel_field", false %>
		<%= hidden_field_tag "layer_id_field" %>