<div class="steptitle fleft">Año</div>
			<label for="checkboxna" class="yearchklb">NA</label>
			<input type="checkbox" name="checkboxna" class="yearchk"></input>
			<rzslider rz-slider-model="yearSlider.minValue"
			          rz-slider-high="yearSlider.maxValue"
			          rz-slider-options="yearSlider.options">
			</rzslider>
		<input type="hidden" ng-value="yearSlider.minValue" id="sliYearMin" />
		<input type="hidden" ng-value="yearSlider.maxValue" id="sliYearMax" />
		<div class="steptitle">Mes</div>
			<div class="col4">
				<label for="ene" class="meslbl">Ene</label>
				<input type="checkbox" name="1" class="meschk"></input>
				<label for="may" class="meslbl">May</label>
				<input type="checkbox" name="5" class="meschk"></input>
				<label for="sep" class="meslbl">Sep</label>
				<input type="checkbox" name="9" class="meschk"></input>
			</div>
			<div class="col4">
				<label for="feb" class="meslbl">Feb</label>
				<input type="checkbox" name="2" class="meschk"></input>
				<label for="jun" class="meslbl">Jun</label>
				<input type="checkbox" name="6" class="meschk"></input>
				<label for="oct" class="meslbl">Oct</label>
				<input type="checkbox" name="10" class="meschk"></input>
			</div>
			<div class="col4">
				<label for="mar" class="meslbl">Mar</label>
				<input type="checkbox" name="3" class="meschk"></input>
				<label for="jul" class="meslbl">Jul</label>
				<input type="checkbox" name="7" class="meschk"></input>
				<label for="nov" class="meslbl">Nov</label>
				<input type="checkbox" name="11" class="meschk"></input>
			</div>
			<div class="col4">
				<label for="abr" class="meslbl">Abr</label>
				<input type="checkbox" name="4" class="meschk"></input>
				<label for="ago" class="meslbl">Ago</label>
				<input type="checkbox" name="8" class="meschk"></input>
				<label for="dic" class="meslbl">Dic</label>
				<input type="checkbox" name="12" class="meschk"></input>
			</div>
		<div class="steptitle">Buscar por</div>
			<select name="dropdownFiltros" id="filtroRegistro">
				<option value="">- Tipo de filtro -</option>
				<option value="evidencia">Evidencia</option>
				<option value="fuente">Fuente</option>
				<option value="institucion">Institución</option>
			</select>
			<select name="dropdownValores" id="resultadoFiltro">
				<option value="">- Categoria -</option>
			</select>
		<div class="infotitle steptitle" title="Esta información corresponde al modelo validado BioModelos, el cual tiene la mayor calificación entre las hipótesis de distribución disponibles para este especie. Las estadísticas que se presentan a continuación corresponden únicamente a este modelo." rel="tooltip">Visualizar</div>
		<div id="chkBoxFilters">
			<input type="checkbox" name="visualrep" class="checkregistros"></input>
			<label for="visualrep" class="lblvisual">Reportados</label></br>
			<input type="checkbox" name="visualedit" class="checkregistros"></input>
			<label for="visualedit" class="lblvisual">Editados</label></br>
			<input type="checkbox" name="visualadd" class="checkregistros"></input>
			<label for="visualadd" class="lblvisual">Agregados</label></br>
		</div>
		<button class="btngen" id="limpiarBtn">limpiar</button>
		<button class="btngen" id="filtrarBtn">filtrar</button>

		<div class="foreditors">
			<div class="littleline"></div>
			<div class="steptitle">Agregar registro</div>
				<button class="btngen marbtnreg" id="btnAddSingleRecord">1</button>
				<button class="btngen marbtnreg">conjunto</button>
			<div class="infotitle steptitle lh25" title="Esta información corresponde al modelo validado BioModelos, el cual tiene la mayor calificación entre las hipótesis de distribución disponibles para este especie. Las estadísticas que se presentan a continuación corresponden únicamente a este modelo." rel="tooltip">Actualizar taxonomía</div>
				<button class="taxbtn"></button>
		</div>

<script type="text/javascript">

</script>