<div class="vcbase">
			<h1>BUSCADOR DE ESPECIES</h1>
			<a ng-click="find=!find" class="closevb">x</a>
		</div>
		<div class="cvcolumn">
			<p>Activando nuestro sistema de filtros puedes reducir o aumentar el listado de especies hasta encontrar la especie deseada, o escribir su nombre directamente en el buscador. Ten en cuenta que no todas las especies tienen modelo de distribución, pero si opciones para avanzar en su desarrollo.</p>
			<%= form_tag('', {:id => 'sp_search_form'})  do %>
				<%= text_field_tag :query, '', :id => 'search_form', :placeholder => 'Consulta una especie por su nombre científico', :include_blank => false, :rel => 'autocomplete' %>
				<%= submit_tag '', :name => nil, :class => 'searchbtnhome', :id => 'species_src_btn' %>
			<% end %>
			<h2>FILTROS</h2>
			<div class="sppbtn">
				<button class="mamiferos" title="Mamíferos" rel="tooltip"></button>
				<button class="aves" title="Aves" rel="tooltip"></button>
				<button class="reptiles" title="Reptiles" rel="tooltip"></button>
				<button class="anfibios" title="Anfibios" rel="tooltip"></button>
				<button class="peces" title="Peces" rel="tooltip"></button>
				<button class="invertebrados" title="Invertebrados" rel="tooltip"></button>
				<button class="plantas" title="Plantas" rel="tooltip"></button>
			</div>
			<div class="typebtn">
				<button>endémicas</button>
				<button>invasoras</button>
				<button>amenazadas</button>
				<button>validadas</button>
				<button>con modelo</button>
			</div>
			<section class="resultados">
				Aburria aburri</br>
				Aburria cumanensis</br>
				Aburria pipile</br>
				Accipiter bicolor</br>
				Accipiter collaris</br>
				Accipiter poliogaster</br>
				Accipiter striatus</br>
				Accipiter superciliosus</br>
				Acropternis orthonyx</br>
				Actitis macularius</br>
				Adelomyia melanogenys</br>
				Aeronautes montivagus</br>
				Agamia agami</br>
				Aglaeactis cupripennis</br>
				Aglaiocercus coelestis</br>
				Aglaiocercus kingii</br>
				Agriornis montanus
			</section>
		</div>