<section class="resultados">
	<% if @species.blank? %>
		<%= t('biomodelos.search.no_results') %>
	<% else %>
		<% @species.each do |sp|%>
			<%= link_to sp["species"], "/#{I18n.locale}/species/visor?species_id=#{sp['taxID']}" %></br>
		<% end %>
	<% end %>
</section>

<script type="text/javascript">
	$('.resultados').niceScroll({
		cursorcolor: "#5d5e5e",
		cursorwidth: "7px",
		cursorborder: "none"
	});
</script>
