<div class="steptitle fleft" title="Advertencia: este filtro sólo funciona en los registros que tienen el campo fecha con el formato adecuado. Debido a errores de las fuentes, no es posible reconocer el año de todos los registros." rel="tooltip">Año</div>
<!-- 			<label for="checkboxna" class="yearchklb">NA</label>
			<input type="checkbox" name="checkboxna" class="yearchk"></input> -->
			<rzslider rz-slider-model="yearSlider.minValue"
			          rz-slider-high="yearSlider.maxValue"
			          rz-slider-options="yearSlider.options">
			</rzslider>
		<div class="steptitle" title="Si deseas filtrar los registros de la especie para algunos meses en particular selecciona las casillas correspondientes a estos." rel="tooltip">Mes</div>
			<div class="col4">
				<label for="ene" class="meslbl">Ene</label>
				<input type="checkbox" name="ene" class="meschk"></input>
				<label for="may" class="meslbl">May</label>
				<input type="checkbox" name="may" class="meschk"></input>
				<label for="sep" class="meslbl">Sep</label>
				<input type="checkbox" name="sep" class="meschk"></input>
			</div>
			<div class="col4">
				<label for="feb" class="meslbl">Feb</label>
				<input type="checkbox" name="feb" class="meschk"></input>
				<label for="jun" class="meslbl">Jun</label>
				<input type="checkbox" name="jun" class="meschk"></input>
				<label for="oct" class="meslbl">Oct</label>
				<input type="checkbox" name="oct" class="meschk"></input>
			</div>
			<div class="col4">
				<label for="mar" class="meslbl">Mar</label>
				<input type="checkbox" name="mar" class="meschk"></input>
				<label for="jul" class="meslbl">Jul</label>
				<input type="checkbox" name="jul" class="meschk"></input>
				<label for="nov" class="meslbl">Nov</label>
				<input type="checkbox" name="nov" class="meschk"></input>
			</div>
			<div class="col4">
				<label for="abr" class="meslbl">Abr</label>
				<input type="checkbox" name="abr" class="meschk"></input>
				<label for="ago" class="meslbl">Ago</label>
				<input type="checkbox" name="ago" class="meschk"></input>
				<label for="dic" class="meslbl">Dic</label>
				<input type="checkbox" name="dic" class="meschk"></input>
			</div>
		<div class="steptitle" title="Puedes filtrar los registros por tipo de evidencia, fuente de los registros o institución. Una vez seleccionado el campo, encontrarás solamente los valores de dicho campo en la siguiente casilla." rel="tooltip">Buscar por</div>
			<select name="dropdownFiltros" id="filtroRegistro">
				<option value="hide">- Tipo de filtro -</option>
				<option value="evidencia">Evidencia</option>
				<option value="fuente">Fuente</option>
				<option value="institucion">Institución</option>
			</select>
			<select name="dropdownValores" id="resultadoFiltro">
				<option value="hide">- Categoria -</option>
			</select>
		<div class="infotitle steptitle" title="En esta sección podrás resaltar los registros por:&#013;&#013;
• Registro extremo: aplica para observaciones que son válidas pero que corresponden a eventos aislados que pueden sesgar un modelo.&#013; 
• Reportados: aquellos registros que han tenido un reporte de error previo en BioModelos.&#013; 
• Agregados: aquellos registros que los expertos han contribuido a través de BioModelos." rel="tooltip">Visualizar</div>
		<div id="chkBoxFilters">
			<input type="checkbox" name="visualrep" class="checkregistros"></input>
			<label for="visualrep" class="lblvisual">Reportados</label></br>
			<input type="checkbox" name="visualedit" class="checkregistros"></input>
			<label for="visualedit" class="lblvisual">Editados</label></br>
			<input type="checkbox" name="visualadd" class="checkregistros"></input>
			<label for="visualadd" class="lblvisual">Agregados</label></br>
		</div>
		<button class="btngen">limpiar</button>
		<button class="btngen" id="filtrarBtn">filtrar</button>

		<div class="foreditors">
			<div class="littleline"></div>
			<div class="steptitle" title="1: Las coordenadas del visor geográfico permiten agregar un registro para la especie, después podrás cambiarlas y llenar los demás campos de documentación." rel="tooltip">Agregar registro</div>
				<button class="btngen marbtnreg" id="btnAddSingleRecord">1</button>
				<!-- <button class="btngen marbtnreg">conjunto</button>
			<div class="infotitle steptitle lh25" title="Esta información corresponde al modelo validado BioModelos, el cual tiene la mayor calificación entre las hipótesis de distribución disponibles para este especie. Las estadísticas que se presentan a continuación corresponden únicamente a este modelo." rel="tooltip">Actualizar taxonomía</div>
				<button class="taxbtn"></button> -->
		</div>

<script type="text/javascript">

</script>