<div class="maindata">
				<h4><%= @eoo[0]["statRangeSize"] %> km<b>2</b></h4>
				<h5>Rango Geográfico</h5>
			</div>
			<div class="seconddata">
				<h4><%= @eoo[0]["statModelEOO"] %> km<b>2</b></h4>
				<h5>PMC sobre modelos</h5>
			</div>
			<div class="seconddata fdata">
				<h4><%= @eoo[0]["statRecsEOO"] %> km<b>2</b></h4>
				<h5>PMC sobre registros</h5>
			</div>