<div class="resdata">
	<% if @covers || !@covers.blank? %>
		<% @covers[0].each do |c| %>
			<% if c[0] != 'modelID' %>
				<div class="cobert"><p><%= c[0] %></p><div class="percent"><%= c[1] ? '%.2f%' % (c[1] * 100) : c[1] %></div></div>
			<% end %>
		<% end %>
	<% end %>
</div>