<style>
	#map {
	   width: 100%;
	   height: -webkit-calc(100% - 130px);
	   height: -moz-calc(100% - 130px);
	   height: calc(100% - 130px);
	}
</style>
<div id="map"></div>
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAz6sPnMLuIJrOWvNKnn6-PWYK56PDGa30'%>
<%= javascript_include_tag 'Google.js' %>
<%= javascript_include_tag 'biovisor' %>