<style>
	#map {
	   width: 100%;
	   height: -webkit-calc(100% - 130px);
	   height: -moz-calc(100% - 130px);
	   height: calc(100% - 130px);
	}
</style>
<div id="map"></div>

<%= javascript_include_tag 'biovisor' %>