<h1>estadísticas</h1>

<div class="estadbox">
	<h2>expertos en el grupo</h2>
	<h6>29</h6>
</div>
<div class="estadbox">
	<h2>especies vinculadas</h2>
	<h6>24</h6>
</div>
<div class="estadbox">
	<h2>especies en agenda</h2>
	<h6>15</h6>
</div>
<div class="estadbox">
	<h2>modelos aprobados</h2>
	<h6>04</h6>
</div>

<div class="top5">
	<h2>TOP 5 Colaboradores</h2>
	<h3>Aportes</h3>
</div>
<div class="top5users">
	<a href="">Daniel Lopez</a>
	<p>15</p>
</div>
<div class="top5users">
	<a href="">Daniel Lopez</a>
	<p>15</p>
</div>
<div class="top5users">
	<a href="">Daniel Lopez</a>
	<p>15</p>
</div>
<div class="top5users">
	<a href="">Daniel Lopez</a>
	<p>15</p>
</div>
<div class="top5users">
	<a href="">Daniel Lopez</a>
	<p>15</p>
</div>