<h1>especies</h1>
<a ng-click="sugeridor=!sugeridor; activeButton()" ng-class="{'btnact': isActive}" class="closecb">SUGERIR ESPECIE</a>
<div ng-show="sugeridor" class="sugeridor">
	<%= form_tag('', {:id => 'sp_search_form'})  do %>
	<%= text_field_tag :query, '', :id => 'search_form', :placeholder => 'Busca especie por nombre científico', :include_blank => false %>
	<%= submit_tag 'Enviar', :name => nil, :class => 'searchbtnspp', :id => 'species_src_btn' %>
	<% end %>
</div>
<div class="spptit">
	<h2>Nombre de la especie</h2>
	<h3>% Avance</h3>
</div>
<div class="spp">
	<a>Wingardium leviosa</a>
	<p class="spperc">100%</p>
</div>
<div class="spp">
	<a>Wingardium leviosa</a>
	<p class="spperc">50%</p>
</div>
<div class="spp">
	<a>Tessmanniacanthus chlamydocardioides</a>
	<p class="spperc">25%</p>
</div>
<div class="spp">
	<a>Wingardium leviosa</a>
	<p class="spperc">70%</p>
</div>