<h1>actividad</h1>
<div class="notif">
	<%= image_tag("nouserthumb.png") %>
	<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	<p><a href="">Victor Setina Liz</a> hizo curación de registros para <a class="activity" href="">Wingardium leviosa</a></p>
</div>
<div class="notif">
	<%= image_tag("userthumbp.png") %>
	<h6 class="fechanotif">18 · Jun · 2016 - 16:35</h6>
	<p><a href="">Ricardo Reyes Jiménez</a> hizo una edición para <a class="activity" href="">Mustela frenata</a></p>
</div>
<div class="notif">
	<%= image_tag("nouserthumb.png") %>
	<h6 class="fechanotif">18 · Jun · 2016 - 16:35</h6>
	<p><a href="">Pável Tovar Lizcano</a> hizo una edición para <a class="activity" href="">Wingardium leviosa</a></p>
</div>
<div class="notif">
	<%= image_tag("userthumbp.png") %>
	<h6 class="fechanotif">21 · May · 2016 - 08:41</h6>
	<p><a href="">Juan Salvador Mendoza</a> aportó a las variables ecológicas de <a class="activity" href="">Aburria aburri</a></p>
</div>