<h1>estadísticas</h1>
<div class="estadbox">
	<h2>aportes realizados</h2>
	<h6>29</h6>
</div>
<div class="estadbox">
	<h2>registrados reportados</h2>
	<h6>24</h6>
</div>
<div class="estadbox">
	<h2>especies que trabaja</h2>
	<h6>04</h6>
</div>
<div class="estadbox">
	<h2>especies que sigue</h2>
	<h6>15</h6>
</div>
<div class="estadbox">
	<h2>grupos que pertenece</h2>
	<h6>02</h6>
</div>
<div class="estadbox">
	<h2>mapas publicados</h2>
	<h6>01</h6>
</div>