<h1>especies</h1>
<div class="spptit">
	<h2>Especies que trabaja</h2>
	<h3>% Avance</h3>
</div>
<div class="spp">
	<a>Wingardium leviosa</a>
	<p class="spperc">100%</p>
</div>
<div class="spp">
	<a>Wingardium leviosa</a>
	<p class="spperc">50%</p>
</div>
<div class="spp">
	<a>Tessmanniacanthus chlamydocardioides</a>
	<p class="spperc">25%</p>
</div>
<div class="spp">
	<a>Wingardium leviosa</a>
	<p class="spperc">70%</p>
</div>


<div class="spptit">
	<h2>Especies que sigue</h2>
	<h3>Dejar</h3>
</div>
<div class="spp">
	<a>Wingardium leviosa</a>
	<button class="leavesp">X</button>
</div>
<div class="spp">
	<a>Wingardium leviosa</a>
	<button class="leavesp">X</button>
</div>