<h1>notificaciones</h1>
<div class="notif">
	<%= image_tag("nouserthumb.png") %>
	<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	<p><a href="">Victor Setina Liz</a> fue aceptado en el grupo <a href="">Mamíferos de Colombia</a></p>
</div>
<div class="notif">
	<%= image_tag("userthumbp.png") %>
	<h6 class="fechanotif">18 · Jun · 2016 - 16:35</h6>
	<p><a href="">Ricardo Reyes Jiménez</a> fue aceptado en el grupo <a href="">Mamíferos de Colombia</a></p>
</div>
<div class="notif">
	<%= image_tag("nouserthumb.png") %>
	<h6 class="fechanotif">18 · Jun · 2016 - 16:35</h6>
	<p><a href="">Pável Tovar Lizcano</a> fue aceptado en el grupo <a href="">Mamíferos de Colombia</a></p>
</div>
<div class="notif">
	<%= image_tag("userthumbp.png") %>
	<h6 class="fechanotif">21 · May · 2016 - 08:41</h6>
	<p><a href="">juan salvador mendoza</a> fue aceptado en el grupo <a href="">Herpetos de Colombia</a></p>
</div>