<h1>actividad</h1>
<div class="notif">
	<div class="spp">
		<a>Wingardium leviosa</a>
		<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	</div>
	<p class="aporte">Aporte de edición</p>
</div>
<div class="notif">
	<div class="spp">
		<a>Tessmanniacanthus chlamydocardioides</a>
		<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	</div>
	<p class="aporte">Curación de registros</p>
</div>
<div class="notif">
	<div class="spp">
		<a>Wingardium leviosa</a>
		<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	</div>
	<p class="aporte">Variables ecológicas</p>
</div>
<div class="notif">
	<div class="spp">
		<a>Wingardium leviosa</a>
		<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	</div>
	<p class="aporte">Aporte de edición</p>
</div>
<div class="notif">
	<div class="spp">
		<a>Wingardium leviosa</a>
		<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	</div>
	<p class="aporte">Aporte de edición</p>
</div>
<div class="notif">
	<div class="spp">
		<a>Wingardium leviosa</a>
		<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	</div>
	<p class="aporte">Aporte de edición</p>
</div>