<footer>
		<div class="lbabfooter">
				<a href="http://www.humboldt.org.co" class="humboldtft" target="_blank">
					<%= image_tag("logohumboldt.png") %>
				<div class="humbname">
					<h1>Instituto de Investigación de Recursos Biológicos</br>
						Alexander von Humboldt</h1>
					<h2>Programa de Evaluación y Monitoreo de la Biodiversidad</br>
						Laboratorio de Biogeografía Aplicada · LBA</h2>
				</div>
				</a>
		</div>
	</div>

</footer>