<% # Open API Specification hasn't resolve the internationalization issue. We'll have to mantain two spec files until then.%>
<head>
  <style>
    [data-role=redoc-description] p {
      padding-bottom: 10px;
    }
  </style>
</head>
<body>

  <div id="redoc-container"></div>
  <script src="https://cdn.redoc.ly/redoc/latest/bundles/redoc.standalone.js"></script>
  <script>
    Redoc.init('<%="/api_spec_#{I18n.locale}.yml"%>', {
      hideDownloadButton: true,
      theme: {
        typography: {
          fontFamily: 'Lato',
          fontSize: '14px'
        }
      }
    }, document.getElementById('redoc-container'))
    //Config options: https://github.com/Redocly/redoc#redoc-theme-object
  </script>
</body>
