<div class="innercontainer aboutbg">
	<div class="centerbox" id="centerbox">
		<div class="maintitle">
			BioModelos
		</div>
		<div class="slogan">
			Términos y condiciones DE USO DE BIOMODELOS (V 1.0)
		</div>
		<a href="#general" class="btnterminos">General</a>
		<a href="#politica" class="btnterminos">Política de privacidad</a>
		<a href="#publicacion" class="btnterminos">Publicación</a>
		<div class="subt" id="general">
			General
		</div>
		<p class="smallp"><i>El uso que haga de biomodelos.humboldt.org.co en cualquier forma, viendo, consultando o añadiendo su propio contenido, constituye la aceptación de los siguientes Términos y Condiciones, los cuales se hacen efectivos a partir de la fecha en la que use el sitio por primera vez.</i></p>
		<div class="thirdtitle"><b>1.</b> General</div>
		<p class="smallp">Este acuerdo de usuario establece los términos y condiciones de una licencia para que Ud. utilice la plataforma web BioModelos y la información contenida en ella. Para los propósitos del presente acuerdo, la información de BioModelos comprende la visualización de registros biológicos a través del visor geográfico de la plataforma, los modelos de distribución de especies desarrollados a partir de dichos registros y las estadísticas e indicadores calculados a partir de los modelos. Al acceder y / o utilizar BioModelos, ha leído, aceptado y está de acuerdo con cumplir todos los términos y condiciones de este acuerdo de usuario. Los derechos y obligaciones relacionados con el uso de BioModelos de conformidad con este acuerdo de usuario son personales y no son transferibles a ninguna otra persona o entidad. Eventualmente, estos términos y condiciones de uso de BioModelos pueden ser modificados. En consecuencia, continúe revisando los términos y condiciones siempre que acceda o utilice BioModelos, ya que cualquier uso que haga usted después de dichos cambios, modificaciones o adiciones se regirá por este acuerdo de usuario.</p>
		<div class="thirdtitle"><b>2.</b> Derechos de autor y propiedad intelectual</div>
		<p class="smallp">BioModelos contiene material protegido por derechos de autor y / u otra información propietaria y, por lo tanto, la información de BioModelos está protegida por los acuerdos de propiedad intelectual y las leyes y reglamentos de derechos de autor en todo el mundo. El Instituto de investigación de recursos biológicos Alexander von Humboldt y / o sus colaboradores son propietarios únicos y exclusivos de todos los derechos, títulos e intereses, incluidos marcas, derechos de autor, nombres comerciales, secretos comerciales y otros derechos de propiedad intelectual contenidos en la información y el software de BioModelos.</br></br>
		Usted acepta no alterar ni eliminar ningún símbolo de copyright u otra identificación relativa a la autoría de ninguno de los materiales contenidos o puestos a su disposición en BioModelos.</p>
		<div class="thirdtitle"><b>3.</b> Productos derivados</div>
		<p class="smallp">Las obras derivadas basadas en la información de BioModelos pueden distribuirse, incluso electrónicamente o en forma impresa, sin el permiso previo por escrito del Instituto Humboldt, siempre y cuando las obras derivadas estén disponibles con una restricción no comercial de uso, y se incluya la citación a la fuente. BioModelos se reserva el derecho de usar / reutilizar cualquier trabajo derivado basado en su información de acuerdo con los mismos términos y condiciones de uso. A los efectos de estos términos y condiciones, un "trabajo derivado" es un trabajo nuevo que se basa en todo o parte de la información de BioModelos. Para ser considerada una obra derivada, la nueva obra debe ser transformadora e incluir originalidad por parte del creador, de lo contrario puede simplemente considerarse redistribución, dependiendo de la manera en que se pone a disposición el nuevo trabajo.</br></br>
		El uso de la información de BioModelos en la creación de obras derivadas no constituye un respaldo por parte del Instituto Humboldt o de sus socios de productos derivados, informes o análisis. Los logotipos de BioModelos no deben usarse en ningún producto derivado, informes o análisis, ni materiales de apoyo, sin permiso expreso (escrito).
		</p>
		<div class="thirdtitle"><b>4.</b> Uso</div>
		<p class="smallp">Siempre que cualquier uso se haga de acuerdo con los términos y condiciones de este acuerdo de usuario, se le otorga una licencia intransferible para usar, descargar e imprimir la información contenida en BioModelos, sin solicitar permiso previo, únicamente para actividades educativas, investigación académica o aplicada, consultoría ambiental o demás investigaciones científicas. Se debe enviar una copia electrónica o dos copias en papel de todos los productos publicados a partir de la información de BioModelos, utilizando los datos de contacto que se indican a continuación en la sección “9. Información de contacto”.</p>
		<div class="thirdtitle"><b>5.</b> Reconocimiento y citación</div>
		<p class="smallp">El destinatario de la información de BioModelos proporcionará un reconocimiento completo y una citación (que incluya una referencia a la versión de la información de BioModelos utilizada) en cualquier material o publicación derivada parcial o totalmente; se proporcionaran detalles de citación relevantes (incluida la versión). Para todas las publicaciones que hacen un uso significativo de la información, el Instituto Humboldt y sus socios dan la bienvenida a la oportunidad de colaboración, y posible coautoría, y comentar antes de la publicación. Las expresiones de interés pueden ser enviadas directamente al Instituto Humboldt utilizando los datos de contacto que se indican a continuación en la sección “9. Información de contacto”.</p>
		<div class="thirdtitle"><b>6.</b> Actualizaciones</div>
		<p class="smallp">A menos que se requiera hacerlo para análisis específicos, no debe utilizar ninguna versión de la información de BioModelos después de haber sido reemplazada por una versión posterior. Es su responsabilidad verificar si hay disponible una actualización de la información publicada en BioModelos.</p>
		<div class="thirdtitle"><b>7.</b> Limitaciones en la responsabilidad</div>
		<p class="smallp">Ni el instituto Humboldt ni sus socios, ni cualquiera de sus respectivos empleados, proveedores de contenido de terceros o licenciantes garantizan que el acceso y uso de BioModelos estará libre de interrupciones o libre de errores, ni de que cualquier información accesible de o relacionados con la información está libre de virus u otros componentes dañinos; no se hace ninguna garantía en relación con los resultados que se pueden obtener del uso de la información de BioModelos o de la exactitud, confiabilidad o contenido de cualquier información o servicio proporcionado a través de BioModelos.</br></br>
		BioModelos es un espacio para la discusión y evaluación científica de modelos de distribución geográfica de especies. En este sentido, la información descargable representa hipótesis de la probable distribución geográfica de las especies y productos derivados de esas hipótesis, que si bien pueden contener errores y sesgos asociados a los datos y el modelamiento estadístico, hace un esfuerzo por disminuir el impacto de dichos factores al incorporar el conocimiento experto para producir mapas validados. </br></br>
		La información que está a punto de descargar no es información oficial para Colombia y por tal motivo su uso lo debe realizar bajo su propia responsabilidad.</br></br>
		El Instituto Alexander von Humboldt, los patrocinadores de BioModelos y demás colaboradores no garantizan que los resultados derivados de usar la información descargada cumplan con sus requerimientos particulares.
		</p>
		<div class="thirdtitle"><b>8.</b> Terminación del acuerdo</div>
		<p class="smallp">Usted o el Instituto Humboldt pueden terminar este acuerdo de usuario en cualquier momento, con efecto inmediato, con o sin previo aviso a la otra parte. La terminación de este acuerdo termina automáticamente su licencia para usar BioModelos y cualquier contenido u otro material contenido en ella. Las disposiciones de las Secciones 3, 4, y 5 sobrevivirán a cualquier terminación de este acuerdo de usuario.</p>
		<div class="thirdtitle"><b>9.</b> Información de contacto</div>
		<p class="smallp">Si tiene alguna pregunta sobre cualquiera de estos términos o sobre cómo pueden aplicarse al uso previsto de la información que proporciona BioModelos, póngase en contacto con el Laboratorio de Biogeografía Aplicada (LBA) del Instituto Humboldt:</br></br>
		<div class="specialp">Instituto de investigación de recursos biológicos Alexander von Humboldt – Programa de evaluación y monitoreo de la Biodiversidad</br>
		Avenida Paseo Bolívar 16 - 20</br>
		Bogotá, Colombia</br>
		Tel: +57 (1) 3202767</br>
		E-mail: biomodelos@humboldt.org.co</div>
		</p>
		
		<div class="subt" id="politica">
			Política de privacidad
		</div>
		<p class="smallp">Al registrarse en BioModelos el usuario acepta:</p>
		<div class="specialp">1. Los términos y condiciones de BioModelos (arriba citados)</br>
		2. La política de tratamiento de aportes de BioModelos, citada a continuación:</div>
		<p class="smallp">Constituyen aportes a BioModelos toda la información relativa a la distribución de especies que es ingresada por los usuarios registrados a BioModelos, incluyendo pero no restringido a: los reportes y ediciones de error de registros, las ediciones a modelos de distribución, la selección de variables ecológicas por especie, los comentarios en foros, las calificaciones a modelos de distribución y mapas de experto. BioModelos se reserva el derecho a: almacenar, distribuir, usar o eliminar los aportes realizados por usuarios de BioModelos y la información relativa al origen del aporte (nombre, correo electrónico, fecha y dirección IP del aportante), aun cuando el usuario elimine su registro de BioModelos. </br></br>
		La propiedad intelectual de los aportes pertenece a los aportantes y el Instituto Humboldt se compromete a citar adecuadamente los mismos cada que estos sean utilizados para el fin de BioModelos o sus productos derivados.</p>
		<div class="thirdtitle"><b>1.</b> Protección de datos personales</div>
		<p class="smallp">Apreciado usuario de BioModelos. En virtud de la Ley Estatutaria 1581 del 2012 mediante la cual se dictan las disposiciones generales para la protección de datos personales, y su Decreto Reglamentario 1377 de 2013, el Instituto de Investigación de Recursos Biológicos Alexander von Humboldt, considerado como responsable y/o encargado del tratamiento de datos personales, requiere su autorización para continuar con el tratamiento de sus datos personales almacenados en nuestras bases de datos, las cuales incluyen información que ustedes nos han reportado en desarrollo de las diferentes actividades realizadas por nuestra institución en particular los siguientes: Nombres, correo electrónico, ciudad, afiliación institucional y dirección IP desde donde se ingrese a la plataforma biomodelos.humboldt.org.</br></br>
		<b>Finalidad:</b> Los datos serán utilizados para la misión institucional establecida en la ley 99 de 1993, centrada en desarrollar investigación científica y tecnológica sobre biodiversidad, promover el establecimiento de estaciones de investigaciones en el territorio de la Nación, brindar asesoría a las entidades que conforman el Sistema Ambiental (Sina) y conformar el Inventario Nacional de la Biodiversidad del país. </p>
		
		<div class="subt" id="publicacion">
			Publicación de modelos
		</div>
		<div class="thirdtitle"><b>1.</b> El publicador declara:</div>
		<p class="smallp specialp">1. Que el/los modelo(s) que se suben a BioModelos son autoría de las personas listadas en el formulario de publicación de modelos (en adelante publicadores) o tienen la cesión de derechos vigente para tal fin.</br>
		2. Que todos los autores del modelo o conjunto de modelos aceptan o autorizan su publicación en BioModelos a partir del momento en que sube la información.</br>
		3. Que los registros biológicos que acompañan el modelo son de uso abierto, son propios o su uso exclusivamente para propósitos de visualización en BioModelos ha sido autorizado explícita o implícitamente (p. ej. a través de una licencia de Creative Commons) por los propietarios de la información o quienes tienen alguna cesión o autorización frente al particular.</br>
		4. Que los publicadores autorizan la descarga y uso de sus modelos por terceros a través de BioModelos bajo las condiciones provistas por la licencia Creative Commons señalada en el formulario de publicación de modelos.</p>
		<div class="thirdtitle"><b>2.</b> El Instituto de Investigación de recursos biológicos Alexander Von Humboldt a través de la aplicación web BioModelos</div>
		<p class="smallp specialp">1. Ofrecerá estadísticas de actividad (visualización y descarga) y perfil de uso a solicitud de los publicadores de la información.</br>
		2. Otorgará el crédito correspondiente a los publicadores de modelos en la página de BioModelos y en los metadatos que acompañan los modelos de su autoría, con base en la información registrada en el formulario de publicación.</br>
		3. Utilizará los registros biológicos que acompañan el modelo únicamente para la visualización en BioModelos bajo las condiciones determinadas por los publicadores en el formulario de publicación del modelo. En ningún caso su uso o descarga estará habilitada en BioModelos, a menos que esto sea expresamente autorizado en el formulario de publicación de modelos.</br>
		4. Se reserva el derecho de publicar los modelos así como de bajarlos en cualquier momento de la página.</p>
			
	</div>
</div>

<script>
$(document).ready(function(){
	$('#centerbox').niceScroll({
		cursorcolor: "#5d5e5e",
		cursorwidth: "7px",
		cursorborder: "none"
	});
});
</script>