  <div class="cajavisor2" >
  	<div class="dialog regdialog nobox">
      <h1>REGISTRO DE</br>
      <em>species</em></h1> <!-- species -->
      <a class="closevb vatop" id="regboxclose">x</a>
      <blockquote>
        <p>
         <b>ID del registro:</b> 5824a335e21cc54c32cb91c1<br> <!-- _id -->
         <b>ID especie en BioModelos:</b> 2117 <!-- taxID -->
        </p>
      </blockquote>
      <button id="editregbtn" class="botonpopup">editar</button>
      <a href="#" class="approved" title="Registro correcto" rel="tooltip"></a>
      <a href="#" class="unapproved" title="Reportar" rel="tooltip"></a>
         <form class="forms reportar invisible">
            <h3>Reportar Registro</h3>
            <input type="radio" name="badid" value="idIssue" checked="checked"><%= t('biomodelos.records.report.id_issue_lbl') %><br>
            <input type="radio" name="badid" value="geoIssue"><%= t('biomodelos.records.report.geo_issue_lbl') %><br>
            <input type="submit" value='<%= t('biomodelos.records.report.submit_btn') %>'>
            <input type="button" id='cancel-point-cmt' class="cancelbtn" value='<%= t('biomodelos.records.report.cancel_lnk') %>'>
         </form>
      <div class="clearfix"></div>
      <h2>Taxonomía</h2>
      <p><b>Nombre aceptado:</b> <span class="contented">Hedychium coronarium</span></p> <!-- acceptedNameUsage -->
      <p><b>Nombre original:</b> Hedychium coronarium</p> <!-- speciesOriginal -->
      <p><b>Familia:</b> xx</p> <!-- family -->
      <p><b>Orden:</b> xxx</p> <!-- order -->
      <p><b>Clase:</b> xxx</p> <!-- class -->
      <p><b>Reino:</b> xx</p> <!-- kingdom -->

      <h2>Ubicación</h2>
      <p><b>Latitud:</b> <span class="contented">9.07416</span></p> <!-- lat -->
      <p><b>Longitud:</b> <span class="contented">-79.66</span></p> <!-- lon -->
      <br>
      <div class="regcateg">
         <div><b>original</b> · <i>interpretado</i></div>
         <div>consistente</div>
      </div>
      <div class="colreg">
         <p><b>País:</b></p>
         <div class="camposreg">
            <div class="campouno">PA</div>
            <div class="campodos">Panama</div>
            <div class="correctoreg"></div>
         </div><!-- country, suggestedCountry, correctCountry -->
         <p><b>Departamento:</b></p>
         <div class="camposreg">
            <div class="campouno"><span class="contented">Canal Area</span></div>
            <div class="campodos">Null</div>
            <div class="falsoreg"></div>
         </div><!-- stateProvince, suggestedStateProvince, correctStateProvince -->
         <p><b>Municipio:</b></p>
         <div class="camposreg">
            <div class="campouno"><span class="contented">xx</span></div>
            <div class="campodos">Null</div>
            <div class="falsoreg"></div>
         </div><!-- county, suggestedCounty, correctCounty -->
         <p><b>Localidad:</b></p>
         <div class="camposreg">
            <div class="campouno"><span class="contented">Along Gaillard Highway, ca. 1 mi N of Summit Gardens</span></div>
            <div class="correctoreg"></div>
         </div><!-- verbatimLocality, hasLocality -->
         <p><b>Altitud:</b></p>
         <div class="camposreg">
            <div class="campouno"><span class="contented">91</span></div>
            <div class="campodos">null</div>
            <div class="correctoreg"></div>
         </div><!-- alt, interpretedElevation, diferenceInAltitude (0 decimales)  -->
      </div>

      <div class="invisible" id="Reghidden">
         <h2>Información del registro</h2>
         <p><b>Fuente: </b> GBIF</p> <!-- source -->
         <p><b>ID registro original: </b> 1259465233</p> <!-- occurrenceID -->
         <p><b>Fecha descarga fuente: </b> 17/05/2016</p> <!-- downloadDate -->
         <p><b>Institución: </b> <span class="contented">MO</span></p> <!-- institution -->
         <p><b>Colección: </b> <span class="contented">null</span></p> <!-- collection_code -->
         <p><b>Número de catálogo: </b> <span class="contented">2177612</span></p> <!-- catalogNumber -->
         <p><b>Colector: </b> <span class="contented">Thomas B. Croat</span></p> <!-- collector -->
         <p><b>Evidencia de registro: </b> <span class="contented">PRESERVED_SPECIMEN</span></p> <!-- basisOfRecord -->
         <p><b>URL: </b> <span class="contented">Null</span></p> <!-- url -->
         <p><b>Creado por: </b> Null</p> </br> <!-- userID -->

         <p><b>Fecha inicial: </b> Null</p> <!-- earliestDateCollected -->
         <p><b>Fecha final: </b> Null</p> <!-- latestDateCollected -->
         <p><b>Fecha interpretada: </b> YYYY MM DD</p> <!-- yyyy mm dd -->
         <p><b>Fecha creación: </b> YYYY MM DD</p> <!-- yyyy mm dd ligado a userID-->

         <h2>Calidad del registro</h2>
         <p><b>Error georeferenciación (m):</b> null</p> <!-- coordinateUncertaintyInMeters -->
         <p><b>En casco urbano:</b> false</p> <!-- inUrbanArea -->
         <p><b>Altitud en coordenadas:</b> 89</p> <!-- demAltitude -->
         <p><b>Altitud en rango conocido:</b> null</p> <!-- consistentAltitude -->
         <p><b>Distancia a rango conocido:</b> null</p> <!-- dist2KnowRange -->
         <p><b>Altitud atipica:</b> false</p> <!-- altitudinalOutlier -->
         <p><b>Ambiente atípico:</b> true</p> <!-- environmentalOutlier -->


         <br><br>
         <p><b>Último reporte: </b>
            <br>2001/12/12, Error de georeferenciación, Roberto Bolaños</p> <!-- reported -->
         <p><b>Última actualización: </b>
            <br>2001/12/12, Error de georeferenciación, Roberto Bolaños</p> <!-- updated -->

      </div>

      <div class="showreg" id="Showreg"></div>
      <div class="vermas"></div>

    </div>
</div>

<script>
$(document).ready(function(){
    $(".nobox").on("click", "#editregbtn", function(){
        $(".contented").attr("contenteditable","true").addClass("redtext");
        $("#editregbtn").replaceWith('<button id="saveregbtn" class="botonpopup2">guardar</button>');
    });
    $(".nobox").on("click", "#saveregbtn", function(){
        $(".contented").attr("contenteditable","false").removeClass("redtext");
        $("#saveregbtn").replaceWith('<button id="editregbtn" class="botonpopup">editar</button>');
    });

    $(".unapproved").on("click", function( event ) {
     $(".reportar").toggle("slow");
    });

    $("#cancel-point-cmt").on("click", function( event ) {
     $(".reportar").toggle("slow");
    });

    $("#Showreg").on("click", function( event ) {
     $("#Reghidden").toggle("slow");
     if ($("#Showreg").hasClass("rotate")){
       $("#Showreg").removeClass("rotate");
       $(".vermas").removeClass("vermenos");
      }
      else {
         $("#Showreg").addClass("rotate");
         $(".vermas").addClass("vermenos");
      }
    });

});

   // para maximo numero de caracteres.....
   //var content_id = 'editable_div';

   // max = 10;

   // $('#'+content_id).keydown(function(e){ check_charcount(content_id, max, e); });

   // function check_charcount(content_id, max, e)
   // {
   //     if(e.which != 8 && $('#'+content_id).text().length > max)
   //     {
   //        e.preventDefault();
   //     }
   // }
</script>
