<p>
    <%= t('devise.mailer.confirmation_instructions.title')%>
    <%= @email %>!
</p>

<p><%= t('devise.mailer.confirmation_instructions.text_1')%></p>

<p><%= link_to t('devise.mailer.confirmation_instructions.link') , confirmation_url(@resource, confirmation_token: @token) %></p>
