<div class="cajavisor2">
  <div class="dialog regdialog nobox">
    <h1>Registro de mensajes</h1>
    <a class="closevb vatop" id="regboxclose">x</a>
    <div class="clearfix"></div>
    <% @alert_log.each do |a| %>
      <p>
        <%= a['message'] %>
      </p>
    <% end %>
  </div>
</div>

<script>
  $("#regboxclose").click(function(e) {
    e.preventDefault();
    $("#alert_log").html("");
  });
</script>
